extends ../layout

block menu
    +menu

block content
    .row
        a.btn.btn-primary.btn-block(href="/lend/new") Create New Loan Plan
        a.btn.btn-primary.btn-block(href="/lend/current") View Current Agreements
        a.btn.btn-primary.btn-block(href="/lend/requests") Loan Plan Requests
        
    
        
