extends ../layout

block menu
    +menu

block content
    #error
    form
        .radio 
            label
                input(type="radio",onclick="jQuery('#next').attr('href','/lend/installments/schedule')",name="install")
                | Yes
        .radio 
            label
                input(type="radio",onclick="jQuery('#next').attr('href','/lend/reminders')",name="install")
                | No
    +bottom_menu( 'Go Back', '/lend/methods', 'OK, let\'s continue', '/lend/installments/schedule' )
    
    
block append script
    script.
        $( document ).ready( function() {
            $( "#next" ).click( function( event ) {
                var val = $('input:radio[name=install]:checked').val();
                if ( val == null ) {
                    showErrorMessage( 'Please select "Yes" or "No"');
                    event.preventDefault();
                }
            });
        });
        
    
        
