extends ../layout

block menu
    +menu

block content
    #error
    form
        .form-group
            label(for="schedule") Payment schedule
            select#schedule.form-control(name="repayment_period")
                option Daily
                option Weekly
                option Biweekly
                option Monthly
        .form-group
            label(for="start") Start Date
            .input-group
                input#start.form-control.dates(type="date")
                span.input-group-addon
                    span.glyphicon.glyphicon-calendar
        .form-group
            label(for="end") End Date
            .input-group
                input#end.form-control.dates(type="date")
                span.input-group-addon
                    span.glyphicon.glyphicon-calendar
    table.table
        thead
            tr  
                th Installment Number
                th Date
                th Amount
        tbody
        

    +bottom_menu( 'Go Back', '/lend/installments', 'OK, this looks good', '/lend/reminders' )
    
block append script
    +nice_date( ".dates" )
    script.
        function updateTable() {
            console.log( 'updating table' );
            var schedule = $( "#schedule" ).val();
            var start = $( "#start" ).val();
            var end = $("#end").val();
            if ( schedule && start && end ) {
                console.log( schedule, start, end );
                
                var payments = [];
                var startDate = moment( start, 'MM/D/YYYY' );
                var endDate = moment( end, 'MM/D/YYYY' );
                
                if ( endDate.isBefore( startDate )) {
                    showErrorMessage( "Start date should be before the end date");
                }
                var duration;
                if ( schedule == 'Daily' ) {
                    duration = moment.duration( 1, 'day' );
                } else if ( schedule == 'Weekly' ) {
                    duration = moment.duration( 1, 'week' );
                } else if ( schedule == 'Biweekly' ) {
                    duration = moment.duration( 2, 'week' );
                } else if ( schedule == 'Monthly' ) {
                    duration = moment.duration( 1, 'month' );
                }
                
                if ( duration == null ) {
                    console.log( "unable to determin type of duration from schedule: " + schedule );
                    return;
                }
                
                var curDate = startDate;
                while ( curDate.isBefore( endDate )) {
                    payments.push( { date: moment( curDate ) } );
                    console.log( curDate );
                    curDate = curDate.add( duration );
                }
                
                var eachPayment = #{amount} / payments.length;
                var text, i;
                for (i = 0; i < payments.length; i++) {
                    var date = payments[i].date;
                    text += "<tr><td>" + (i+1) + "</td><td>" + date.format( "MM/DD/YYYY" ) + "</td><td>" + accounting.formatMoney( eachPayment ) + "</td></tr>"; 
                }
                $('tbody').html( text );
            }
        };
        
        $( document ).ready( function() {
            $( "#schedule" ).change( updateTable );
            $( ".dates" ).on( 'dp.change', updateTable );
        });
        
    
        
