extends ../layout

block menu
    +menu

block content
    form(method="post", action="/lend/installments" )
        .checkbox 
            label
                input(type="checkbox", name="method", value="Cash" )
                | Cash
        .checkbox 
            label
                input(type="checkbox", name="method", value="Money Order" )
                | Money Order
        .checkbox 
            label
                input(type="checkbox", name="method", value="Online Transfer" )
                | Online Transfer
        .checkbox 
            label
                input(type="checkbox", name="method", value="Goods or Services" )
                | Goods or Services
    +form_submit_bottom_menu( 'No, Go Back', '/lend/amount', 'Looks good, let\'s continue' )
        
    
        
