extends ../layout

block menu
    +menu

block content
    #error
    form( method="post", action="/lends/reminders/info" )
        .radio 
            label
                input(type="radio",onclick="$('form').attr('action','/lend/reminders/info')",name="remind", value="yes")
                | Yes
        .radio 
            label
                input(type="radio",onclick="$('form').attr('action','/lend/review')",name="remind", value="no")
                | No
    +form_submit_bottom_menu( 'Go Back', '/lend/installments', 'OK, let\'s continue' )
        
    
        
block append script
    script.
        $( document ).ready( function() {
            $( "form" ).submit( function( event ) {
                var val = $('input:radio[name=remind]:checked').val();
                if ( val == null ) {
                    showErrorMessage( 'Please select "Yes" or "No"');
                    event.preventDefault();
                }
            });
        });

