extends ../layout

block menu
    +menu

block content
    form
        .radio 
            label
                input(type="radio",onclick="jQuery('#next').attr('href','/lend/reminders/info')",name="install")
                | Yes
        .radio 
            label
                input(type="radio",onclick="jQuery('#next').attr('href','/lend/review')",name="install")
                | No
    +bottom_menu( 'No, Go Back', '/lend/amount', 'Looks good, let\'s continue', '/lend/reminders/info' )
        
    
        
