extends ../../layout

block menu
    +menu

block content
    form
        .form-group
            label(for="amount") How much money do you want to lend?
            .input-group
                span.input-group-addon $
                input#amount.form-control(type="text")
    +bottom_menu( 'No, Go Back', '/lend/new/groups/select', 'Yes, Continue', '/lend/new/methods' )
        
    
        
