extends ../../layout

block menu
    +menu

block content
    form
        .form-group
            label(for="photo") Photo
            .input-group
                input#photo.form-control(type="text")
                span.input-group-addon
                    span.glyphicon.glyphicon-user
        .form-group
            label(for="first") First Name
            input#first.form-control(type="text")
        .form-group
            label(for="last") Last Name
            input#last.form-control(type="text")
        .form-group
            label(for="email") Email
            input#email.form-control(type="text")
        .form-group
            label(for="cell") Cell #
            input#cell.form-control(type="text")
        .form-group
            label(for="family") Relationship
            select.form-control
                option Aunt/Uncle
                option Brother/Sister
                option Cousin
                option Grandparent
                option Other
            

    +bottom_menu( 'No, Go Back', '/lend/new/groups', 'Create New Contact', '/lend/new/amount' )