extends ../../layout

block menu
    +menu

block content
    .row
        .col-xs-12 OK, let's get started.  Who do you want to lend to?
    .row.top-buffer
        a.btn.btn-default.btn-block(href="/lend/new/groups/select") Aunts/Uncles
        a.btn.btn-default.btn-block(href="/lend/new/groups/elect") Brothers/Sisters
        a.btn.btn-default.btn-block(href="/lend/new/groups/select") Cousins
        a.btn.btn-default.btn-block(href="/lend/new/groups/select") Grandparents
    .row.top-buffer
        a.btn.btn-success.btn-block(href="/lend/new/groups/select") New Contact
        
    +bottom_menu( 'No, Go Back', '/lend/new', 'Yes, Continue', '/lend/new/groups' )
        
    
        
