extends ../../layout

block menu
    +menu

block content
    form
        .radio 
            label
                input(type="radio")
                | Yes
        .radio 
            label
                input(type="radio")
                | No
    +bottom_menu( 'No, Go Back', '/lend/new/amount', 'Yes, Continue', '/lend/new/installments/schedule' )
        
    
        
