extends ../../layout

block menu
    +menu

block content
    form
        .form-group
            label(for="schedule") Payment expected every
            select#schedule.form-control
                option Day
                option Week
                option Month
        .form-group
            label(for="start_date") Start Date
            input.form-control(type="date")
        .form-group
            label(for="num_installments") Number of Installments
            input.form-control(type="number")
        .form-group
            label.control-label Amount Due With Each Installment
            p.form-control-static $150.00
        .form-group
            label.control-label First Installment Due
            p.form-control-static 05/11/12
        .form-group
            label.control-label Last Installment Due
            p.form-control-static 05/11/13
            

    +bottom_menu( 'No, Go Back', '/lend/new/amount', 'Yes, Continue', '/lend/new/reminders' )
        
    
        
