extends layout

block menu
    +menu

block content
    .row
        .col-xs-6
            a.btn.btn-primary.btn-large.main-button(href="/lend") 
                img(src="images/lend-icon-small.png")
                | Lend
        .col-xs-6
            a.btn.btn-primary.btn-large.main-button(href="/borrow")
                img(src="images/borrow-icon-small.png")
                | Borrow
    .row.top-buffer.row.top-buffer
        .col-xs-6
            a.btn.btn-primary.btn-large.main-button(href="/track") 
                img(src="images/track-icon-small.png")
                | Track
        .col-xs-6
            a.btn.btn-primary.btn-large.main-button(href="/account") 
                img(src="images/reminders-icon-small.png")
                | Account
