extends ../layout


block menu
    +menu

block content
    form( method='post', action='/borrow/review' )
        .form-group
            label(for="when") When will you repay the money
            .input-group
                input#when.form-control(type="date", name="date", value= date)
                span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                
    +form_submit_bottom_menu( 'Choose a different person', '/borrow/from/select', 'OK, let\'s continue' )        

block append script 
    +nice_date( '#when' )
