extends ../../layout

block menu
    +menu

block content
    .panel.panel-default
        .panel-body
            | Agreement between 
            p Joe Carter (borrower) and YOU (lender)
            p Origin Date 2/13/15
            p
                strong I. Promise to Pay
            | Mauris ullamcorper urna sit amet vulputate mattis. 
            p 
                strong II. Repayment
            | Posuere cubilia Curae; Donec tempus vestibulum sapien venenatis     facilisis. Integer posuere venenatis velit in scelerisque. Aliquam pretium eros vel diam varius iaculis. 
            p
                strong III. Late Payment Fees
            | Interdum tellus non lorem faucibus, non aliquam sem tincidunt. 
            p
                strong IV. Amendment; Modification; Waiver
            | Can be modified at any point as long as both parties agree.  
            p
                strong V. Breach of Promissory Note
            | Borrower will pay via lean on paycheck
            p
                strong VI. Signatures
            table.table
                tbody
                    tr
                        td
                            | Joe Carter
                        td 
                            | You
                    tr
                        td
                            | 2/14/2015
                        td
                            | 2/13/2015
    
    
