extends ../layout

block menu
    +menu

block content
    img.center-block.img-responsive(src="/images/track_brahm.png")
    .row
        .col-xs-3
        .col-xs-6
            h4 The following lending request was sent to Brahm on 5/12/2015
            table.table.table-hover.table-bordered
                tbody
                    tr
                        th Amount
                        td $375.00
                    tr
                        th Repay by
                        td 09/20/2015
                    tr
                        th Can use the follwoing methods of payment
                        td Cash, Money Order
                    tr
                        th Installments
                        td None selected
                    tr
                        th Reminders 
                        td Sent 2 hours before the payment is due
        .col-xs-3
    .row.top-buffer
        .col-xs-3
        .col-xs-6
            img( src="/images/Adobe_PDF_file_icon_32x32.png") 
            | Save as PDF
                    
                            
        
        
    
        
