extends ../layout

block menu
    +menu

block content
    form
        .form-group
            label(for="amount") How much cash did you receive?
            .input-group
                span.input-group-addon $
                input#amount.form-control(type="text")
    +bottom_menu( 'No, Go Back', '/track/joec/receive', 'Record Cash', '/track/received' )
        