extends ../layout

block menu
    +menu

block content
    a(href="/track/joec")
        img.center-block(src="/images/joec.png")
        .bg-primary.text-center He owes you $25
    a(href="/track/marie")
        img.center-block(src="/images/marienew.png")
        .bg-primary.text-center You owe her $125
    a(href="/track/")
        img.center-block(src="/images/track_jorge.png")
        .bg-primary.text-center He would like to borrow $250
    a(href="/track/")
        img.center-block(src="/images/track_brahm.png")
        .bg-primary.text-center You are waiting for him to respond to lending agreement
        
    
        
