extends ../layout

block menu
    +menu

block content
    a(href="/track/joec")
        img.center-block(src="/images/joec.png")
        .bg-primary.text-center Joe C owes you $25
    a(href="/track/marie")
        img.center-block(src="/images/marienew.png")
        .bg-primary.text-center You owe Marie $125
    a(href="/track/jorge")
        img.center-block(src="/images/track_jorge.png")
        .bg-primary.text-center Jorge would like to borrow $250
    a(href="/track/brahm")
        img.center-block(src="/images/track_brahm.png")
        .bg-primary.text-center You are waiting for Brahm to respond to lending agreement
        
    
        
