extends ../layout

block menu
    +menu

block content
    a(href="/track/joec")
        img.center-block(src="/images/track_joec.png")
    a(href="/track/marie")
        img.center-block(src="/images/track_marie.png")
        
    
        
